::selection {
    background-color: var(--color-theme1);
    color: var(--color__white);
}

// Background Color
.white-bg {
    background-color: var(--color__white);
}
.transparent-bg {
    background-color: transparent;
}



// Text color
.white-text {
    color: var(--color__white);
}
.text-black {
    color: var(--color__black);
}


// Border 
.border-no {
    border: 0;
}
