// Border radius
.radius-xs {
    border-radius: 0.125rem; // 2px
}
.radius-sm {
    border-radius: 0.25rem; // 4px
}
.radius-md {
    border-radius: 0.375rem; // 6px
}
.radius-lg {
    border-radius: 0.5rem; // 8px
}
.radius-xl {
    border-radius: 0.625rem; // 10px
}
.radius-2xl {
    border-radius: 0.75rem; // 12px
}
.radius-3xl {
    border-radius: 0.875rem; // 14px
}
.radius-4xl {
    border-radius: 1rem; // 16px
}
.radius-5xl {
    border-radius: 1.25rem; // 20px
}
.radius-6xl {
    border-radius: 1.5rem; // 24px
}
.radius-7xl {
    border-radius: 1.75rem; // 28px
}
.radius-8xl {
    border-radius: 2rem; // 32px
}
.radius-50 {
    border-radius: 50%;
}
.radius-circle {
    border-radius: 9999px; // Circle
}