.vid_player_wrapper {
    @include md-up {
        padding: 30px 0 0;
    }
}
.video_play_servers {
    padding: 30px 0;
    @include md-up {
        padding: 50px 0;
    }
    
    @include lg-up {
        padding: 60px 0;
    }
    h6 {
        font-weight: 400;
    }
    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        li {
            a {
                display: flex;
                align-items: center;
                gap: 0 10px;
                padding: 16px 20px;
                background-color: rgba(#fff, 0.1);
                border-radius: 6px;
                color: var(--color__theme1);
                @include transition-default;
                min-width: 150px;
                font-size: 14px;
                line-height: normal;

                i {
                    position: relative;
                    top: 2px;
                }

                &:hover {
                    background-color: rgba(#fff, 0.15);
                }
            }
        }
    }
}
.film-information {
    .film-name{
        font-weight: 600;
        color: var(--color__white);
        font-size: 22px;

        @include lg-up {
            font-size: 26px;
        }
        @include xl-up {
            font-size: 28px;
        }
        @include xxl-up {
            font-size: 32px;
        }

    }
    .meta {
        margin: 5px 0;
        li {
            display: inline-block;
            font-size: 16px;
            color: #8a96a1;

            i {
                font-size: 14px;
            }
            & + li {
                margin-left: 10px;
            }
            &.quality {
                background-color: var(--color__theme1);
                color: var(--color__white);
                line-height: 1;
                padding: 2px 4px;
                border-radius: 2px;
                font-size: 14px;
            }
        }        
    }
    p {
        color: #8a96a1;
    }
    table {
        border: 0;
        margin-top: 10px;

        td {
            border: 0;
            color: #8a96a1;
            padding: 5px 0;
            min-width: 100px;


            a {
                &:hover {
                    color: var(--color__theme1);
                }
            }
        }
    }
}

.suggested-films {
    h3.title {
        color: #8a96a1;
        font-weight: 400;
        margin-bottom: 30px;
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px;
    }
    .films {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 30px 20px;
        
        @include md-up {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
        @include lg-up {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
        @include xl-up {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        @include xxl-up {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        .film-item {
            @media (min-width: 1200px) and (max-width: 1399px) {
                &:nth-child(2n + 2) {
                    .popover-content {
                        left: inherit;
                        right: 90%;
                    }
                }
                &:nth-child(5n + 5) {
                    .popover-content {
                        left: 75%;
                        right: inherit;
                    }
                }
            }
            @media (min-width: 1400px) {
                &:nth-child(3n + 3) {
                    .popover-content {
                        left: inherit;
                        right: 90%;
                    }
                }
            }
        }
    }
}
.comments {
    margin: 30px 0;
    @include lg-up {
        margin: 60px 0;
    }

    .title {
        color: #8a96a1;
        font-weight: 400;
        margin-bottom: 30px;
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px;
    }
    .comment-form {
        input {
            background-color: rgba(#fff, 0.15);
            height: 60px;
            border: 0;
            padding: 20px;
            color: var(--color__white);

            @include sm-down {
                height: 50px;
            }
        }
        button {
            padding: 10px 30px;
            border-radius: 3px;

            @include sm-down {
                font-size: 14px;
                padding: 8px 20px
            }
        }
    }
    .comment-list {
        .user-thumb {
            @include width-height(40px, 40px);
            border-radius: 50%;
            float: left;
            margin-right: 15px;
        }
        .comment-text {
            overflow: hidden;

            .name {
                color: var(--color__theme1);
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 5px;
            }
            .date-time {
                font-weight: 300;
                font-size: 14px;
                color: var(--color__text);
            }
            p {
                margin: 5px 0;
                font-size: 14px;
                color: var(--color__white);
            }
        }
        .react {
            li {
                display: inline-block;
                font-size: 14px;
                & + li {
                    margin-left: 15px;
                }

                a:hover {
                    color: var(--color__white);
                }

                a + a {
                    margin-left: 8px;
                }
            }
        }

        .reply-comment {
            margin-left: 55px;
            margin-top: 20px;
        }
        > li {
            margin-top: 20px;
        }
    }
}